<html ng-app="AppModule">
<head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript">
		var x=angular.module('AppModule',[]);
		x.controller("c1",f1);
		function f1($scope,$http) {
			$scope.showLogin=false;
		}
	</script>
</head>
<body ng-controller="c1">
	<div ng-show="showLogin">
		<form>
			Username<input type="text" name="username">
		</form>
		<button ng-click="showLogin=false">Cancel</button>	
		
	</div>
	<div ng-hide="showLogin">
	<button ng-click="showLogin=true">Login</button>
	</div>

</body>
</html>